<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252251213635-41gpf88666ma1jh6jc81vjq6mmg5tvvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252251213635-41gpf88666ma1jh6jc81vjq6mmg5tvvi</string>
	<key>API_KEY</key>
	<string>AIzaSyDDHrQrP1D3xB854z9mZBLpY3p5yFrcmI8</string>
	<key>GCM_SENDER_ID</key>
	<string>252251213635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.naho032765.sampleappMessageKit</string>
	<key>PROJECT_ID</key>
	<string>sampleappmessagekit</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleappmessagekit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252251213635:ios:7261961e50865957f5a9f6</string>
</dict>
</plist>